*
{
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}

html
{
  font-size: 100%;
}

.container
{
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('https://images.pexels.com/photos/90317/pexels-photo-90317.jpeg?cs=srgb&dl=pexels-m%26w-studios-90317.jpg&fm=jpg');  
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  padding: 2rem;
}

.header
{
  background-color: #E8E6E7;
  padding : 1rem;
  margin-left: 9rem;
  margin-right: 9rem;
  border-radius: 0.5rem;
}

.header img
{
  width: 4rem;
  height: 4rem;
  margin-right: 4rem;
}

.nav
{
   width: 100%;
}

.nav a 
{
  color: #4C7972;
  text-decoration: none;
  font-size: 1.3rem;
}

.nav a:hover
{
  color: #915A3C;
  height: 1px;
}

.nav2
{
  background-color: #CFB79F;
  border-radius: 2rem;
}

.nav2:hover
{
  background-color: #E8E6E7;
  border: 0.1rem black solid;
}

.title
{
    color: #4C7972;
    font-size: 2rem;
    float: left;
}

.content h1
{
   text-align: center;
   margin-top: 11rem;
   color: #E8E6E7;
   font-size: 3rem;
}

.content p
{
   text-align: center;
   color: #E8E6E7;
   font-size: 0.9rem;
   margin-top: 1.4rem;
}

.searchbar
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40rem;
  margin-right: 40rem;
  margin-top: 5rem;
  border-radius: 0.5rem;
}

.searchbar input
{
  width: 25rem;
  height: 3rem;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  border: none;
  font-size: 1.3rem;
  padding: 0.5rem;
}

.searchbar button
{
  width: 8rem;
  height: 3rem;
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border: none;
  font-size: 1.2rem;
  border-left: 0.1rem;
  border-left: 0.06rem solid black;
  background-color: #F0F0F0;
}

.searchbar button:hover
{
    background-color: #E0E0E0;
}


.list-container
{
    margin-top: 6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 7rem;
}

.list-container-details
{
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 7rem;
}

.left-col
{
    flex-basis: 70%;
    /*border-right: 1px solid black;*/
}

.right-col
{
    flex-basis: 25%;
    /*border: 1px solid black;*/
}

.left-col h1
{
    color: #333;
    font-weight: 600;
    margin-bottom: 3rem;
}

.house
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem;
    border: 0.1rem solid black;
    padding-left: 1.5rem;
    border-radius: 0.8rem;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.house-img
{
    flex-basis: 35%;
}

.house-info
{
    flex-basis: 65%;
    padding-right: 0.8rem;
    padding-left: 1rem;
    line-height: 1.7rem;
/*    border : 1px solid black;*/
}

#name
{
    color: #333;
    font-weight: 550;
    font-size: 1.2rem;
}

.house-info span
{
    color: #8c8c8c;
    font-weight: 300;
    font-size: 1.2rem;
}

#desc
{
    color: #915A3C;
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-top: 1.2rem;
/*    margin-right: ;*/
}

.price
{
    color:#ff4d4d;
    font-size: 1.5rem;
    line-height: 2.6rem;
}

.house-info p
{
    color: #737373;
    font-weight: 300;
    font-size: 1.2rem;
}

.view
{
    padding: 0.3rem;
    background-color: #F5F5F5;
    border-radius: 0.5rem;
    color: #915A3C;
    text-decoration: none;
/*    border : 0.1rem solid black;*/
}

.view:hover
{
    background-color: #EDEDED;
}

.house-info i 
{
    color: #4C7972;
}

.amenities
{
    margin-top: 1rem;
    background-color: #EDEDED;
    padding: 0.5rem;
    line-height: 3rem;
    font-size: 1.1rem;
    width: 97%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.amenities i
{
/*    padding-left: 4rem;*/
    color: #4C7972;
    font-size: 1.4rem;
}

.amenities2
{
    background-color: #EDEDED;
    padding: 0.5rem;
    line-height: 3rem;
    font-size: 1.1rem;
    width: 97%;   
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.amenities2 i
{
/*    padding-left: 4rem;*/
    color: #4C7972;
    font-size: 1.4rem;
}

.box 
{
    padding-left: 4rem;
}

.stars
{
    text-align: right;
    padding-right: 1rem;
    margin-top: 3rem;
    margin-right: 1.4rem;
}

.stars i
{
    color: #4C7972;
}

.sidebar
{
    border: 0.1rem solid black;
    padding: 3rem;
    margin-top: 5.3rem;
    background-color: #FFFFFF;
    border-radius: 0.8rem;
    margin-right: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidebar h3
{
    color: #4C7972;
}

.filter
{
   color: #915A3C;
   line-height: 1.5rem;
   font-size: 1.1rem;
}

.box_footer
{
    display: flex;
    margin-top: 1rem;
}

.nearby_places
{
    display: flex;
    margin-top: 2.5rem;
    font-size: 1.2rem;
    margin-right: 3rem;
}

.nbp_1
{
    margin-left: 1.4rem;
    background-color: #EDEDED;
    font-size: 1rem;
    padding-top: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.5rem;
}

.nbp_2
{
    margin-left: 1.4rem;
    background-color: #EDEDED;
    font-size: 1rem;
    padding-top: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.5rem;   
}

.nbp_2 i
{
    color: #4C7972;
}

.nbp_1 i
{
    color: #4C7972;
}

.owner_contact
{
   margin-top: 1rem;
   background-color: #ac7339;
   padding: 1rem;
   padding-right: 2rem;
   padding-left: 2rem;
   border-radius: 0.8rem;
   color: white;
   margin-right: 2rem;
   font-size: 1rem;
   
}

.booking
{
   margin-top: 1rem;
   background-color: #ac7339;
   padding: 1rem;
   padding-right: 2rem;
   padding-left: 2rem;
   border-radius: 0.8rem;
   color: white;
   font-size: 1rem;   
}

.booking a 
{
    text-decoration: none;
    color: white;   
}

.booking:hover
{
    background-color: #bf8040;
}

.owner_contact a
{
    text-decoration: none;
    color: white;
}

.owner_contact:hover
{
    background-color: #bf8040;
}

.applybtn input
{
    background-color: #4C7972;
    padding: 0.5rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    color: white;
    width: 44%;
    border-color: #FFFFFF;
    border-width: 0rem;
}

.btn input
{
    background-color: #4C7972;
    padding: 0.5rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    color: white;
    width: 44%;
    border-color: #FFFFFF;
    border-width: 0rem;
}

.basic-info
{
    display: flex;
}


.applybtn input:hover
{
    background-color: #4C7972;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.details
{
    display: flex;
    font-size: 1.1rem;
    margin-top: 1rem;
    width: 100%;
}

.col1
{
    color: #4C7972;
}

.col2
{
    color: #ac7339;
    padding-left: 1rem;
}

.map
{
    display: flex;
}

.slider{
            width: 360px;
            height: 250px;
            border-radius: 10px;
            overflow: hidden;
        }
        .slide{
            width: 500%;
            height: 500px;
            display: flex;
        }
        .slide input{
            display: none;
        }
        .st{
            width: 20%;
            transition: 1s;
        }
        .st img{
            width: 450px;
            height: 250px;
        }
        .nav-m{
            position: absolute;
            width: 450px;
            margin-top: 230px;
            margin-left: -30px;
            justify-content: center;
            display: flex;    
        }
        .m-btn{
            border: 2px solid whitesmoke;
            padding: 5px;
            border-radius: 10px;
            cursor: pointer;
            transition: 1s;
        }
        .m-btn:not(:last-child){
            margin-right: 30px; ;
        }
        .m-btn:hover{
            background-color:white;
        }
        #radio1:checked ~.first{
                margin-left: 0;
        }
        #radio2:checked ~.first{
                margin-left: -20%;
        }
        #radio3:checked ~.first{
                margin-left: -40%;
        }
        #radio4:checked ~.first{
                margin-left: -60%;
        }
        .nav-auto{
            position: absolute;
            width: 350px;
            margin-top: 230px;
            display: flex;
            justify-content: center;
        }
        .nav-auto div{
            border: 2px solid #23e3c2;
            padding: 5px;
            border-radius: 10px;
            transition: 1s;
        }
        .nav-auto div:not(:last-child){
            margin-right: 30px;
            justify-content: center;
        }
        #radio1:checked ~ .nav-auto .a-b1{
            background-color: #23e3c2;
        }
        #radio3:checked ~ .nav-auto .a-b2{
            background-color: #23e3c2;
        }
        #radio3:checked ~ .nav-auto .a-b3{
            background-color: #23e3c2;
        }
        #radio4:checked ~ .nav-auto .a-b4{
            background-color: #23e3c2;
        }


.footer-distributed{
    background: #4d4d4d;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 20px 50px;
}

.footer-distributedone{
    background: #4d4d4d;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    /* font: bold 10px sans-serif; */
    /* padding: 20px 50px; */
    padding: 18px 10px;
    border-radius: 26px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right
{
    display: inline-block;
    vertical-align: top;
}


.footer-distributed .footer-left
{
    width: 40%;
}


.footer-distributed h3
{
    color:  #ffffff;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
}

.footer-distributedone h3
{
    color:  #ffffff;
    font: normal 20px 'Open Sans', cursive;
    margin: 0;
}


.footer-distributed h3 span
{
    color:  lightseagreen;
}

.footer-distributedone h3 span
{
    color:  lightseagreen;
}

.footer-distributed .footer-links
{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a
{
    display:inline-block;
    line-height: 1.8;
  font-weight:400;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-company-name
{
    color:  #FFFFFF;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}


.footer-distributed .footer-center
{
    width: 35%;
}

.footer-distributed .footer-center i
{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope
{
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p
{
    display: inline-block;
    color: #ffffff;
  font-weight:400;
    vertical-align: middle;
    margin:0;
}

.footer-distributed .footer-center p span
{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.footer-distributed .footer-center p a
{
    color:  lightseagreen;
    text-decoration: none;;
}

.footer-distributed .footer-links a:before 
{
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before 
{
  content: none;
}


.footer-distributed .footer-right
{
    width: 20%;
}

.footer-distributed .footer-company-about
{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span
{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons
{
    margin-top: 25px;
}

.footer-distributed .footer-icons a
{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

/*Responsive Footer*/

@media (max-width: 880px) 
{

    .footer-distributed{
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i{
        margin-left: 0;
    }

}


@media (max-width: 1743px)
{
    html
    {
       font-size: 97%;
    }
}

@media (max-width: 1738px)
{
    html
    {
       font-size: 96%;
    }
}

@media (max-width: 1683px)
{
    html
    {
       font-size: 94%;
    }
}

@media (max-width: 1653px)
{
    html
    {
       font-size: 92%;
    }
}

@media (max-width: 1650px)
{
    html
    {
       font-size: 92%;
    }
}

@media (max-width: 1612px)
{
    html
    {
       font-size: 90%;
    }
}

@media (max-width: 1600px)
{
    html
    {
       font-size: 88%;
    }
}

@media (max-width: 1552px)
{
    html
    {
       font-size: 86%;
    }
    .container
    {
      height: 75vh;
    }
}

@media (max-width: 1475px)
{
    html
    {
       font-size: 82%;
    }
    .container
    {
      height: 70vh;
    }
}

@media (max-width: 1425px)
{
    html
    {
       font-size: 80%;
    }
    .container
    {
      height: 65vh;
    }
}

@media (max-width: 1392px)
{
    html
    {
       font-size: 78%;
    }
    .container
    {
      height: 60vh;
    }
}

@media (max-width: 1354px)
{
    html
    {
       font-size: 76%;
    }
    .container
    {
      height: 60vh;
    }
}

@media (max-width: 1316px)
{
    html
    {
       font-size: 73%;
    }
}

@media (max-width: 1272px)
{
    html
    {
       font-size: 71%;
    }
    .container
    {
       height: 60vh;
    }
}

@media (max-width: 1228px)
{
    html
    {
       font-size: 69%;
    }
    .container
    {
       height: 55vh;
    }
}

@media (max-width: 1192px)
{
    html
    {
       font-size: 67%;
    }
}

@media (max-width: 1159px)
{
    html
    {
       font-size: 65%;
    }
}

@media (max-width: 1121px)
{
    html
    {
       font-size: 63%;
    }
    .container
    {
       height: 50vh;
    }
}

@media (max-width: 1091px)
{
    html
    {
       font-size: 61%;
    }
}

@media (max-width: 1056px)
{
    html
    {
       font-size: 58%;
    }
    .container
    {
       height: 50vh;
    }
}

@media (max-width: 1009px)
{
    html
    {
       font-size: 56%;
    }
    .container
    {
       height: 47vh;
    }
}

@media (max-width: 934px)
{
  html
    {
       font-size: 56%;
    }
  .container
    {
       height: 40vh;
    }
}

@media (max-width: 870px)
{
  html
    {
       font-size: 56%;
    }
  .container
    {
       height: 37vh;
    }
}

@media (max-width: 820px)
{
  html
    {
       font-size: 56%;
    }
  .container
    {
       height: 30vh;
    }
}

@media (max-width: 690px)
{
  html
    {
       font-size: 56%;
    }
  .container
    {
       height: 20vh;
    }
}
@media (max-width: 476px)
{
  html
    {
       font-size: 56%;
    }
  .container
    {
       height: 5vh;
    }
}